[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
asgiref = "*"
django-environ = "*"
pillow = "*"
mysqlclient = "*"
pymysql = "*"
sqlparse = "*"

[dev-packages]

[requires]
python_version = "3.12"
