.fc .fc-toolbar.fc-header-toolbar {
  padding: 10px;
}

.fc .fc-toolbar.fc-header-toolbar { 
  margin-bottom: 0rem;
}

.fc .fc-button-primary:not(:disabled).fc-button-active, .fc .fc-button-primary:not(:disabled):active {
  background-color: #3c9e54;
  border-color: #3c9e54;
  color: var(--fc-button-text-color);
}

.fc .fc-button-primary:not(:disabled).fc-button-active:focus, .fc .fc-button-primary:not(:disabled):active:focus {
  box-shadow: #d5e9be 0px 0px 0px 0.1rem;
}

.fc .fc-button-primary {
  background-color:#86cb7d;
  border-color: #86cb7d;
  color: var(--fc-button-text-color);
}

.fc .fc-button-primary:hover {
  background-color: #3c9e54;
  border-color: #3c9e54;
  color: var(--fc-button-text-color);
}

.fc .fc-button-primary:disabled {
  background-color:#86cb7d;
  border-color: #86cb7d;
  color: var(--fc-button-text-color);
}

.fc-h-event .fc-event-title {
  text-wrap: pretty;
} 

.day-over-budget {
  background-color: #ffcccc !important; /* Light red color for over budget */
  border-color: red !important;
}